@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.colr{
  color:#be123c1a;
  color: #be123cb3;
  color: #be123c33;

}

.custom {
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
;
}